<p class="argument-heading">
  <% if argument.parent_argument.present? %>
    Regarding: <%= link_to argument.subject.text, argument.subject %>
  <% else %>
    <%= user_for(argument) %> <b><%= argument.agree_disagree(current_user) %></b>:
    <%= link_to argument.subject.text, argument.subject %>
  <% end %>
</p>
