<% if argument.premises.any? %>
  <% if argument.parent_argument.present? && !local_assigns[:no_recurse] %>
    <%= my(argument) ? 'You interpret' : "#{argument.user.username} interprets" %>
    <%= my(argument.parent_argument) ? 'your' : "#{argument.parent_argument.user.username}'s" %> argument as follows:
  <% else %>
    <%= my(argument) ? 'Your' : "#{argument.user.username}'s" %> argument:
  <% end %>
<% else %>
  No premises given.
<% end %>

<ul class="premises-list">
  <% argument.premises.each do |p| %>
    <li><%= p.text %></li>
  <% end %>
</ul>
