<% if argument.premises.any? %>
  Their argument:
<% else %>
  No premises given.
<% end %>

<ul class="premises-list">
  <% argument.premise_citations.each do |pc| %>
    <% if pc.statement_id == local_assigns[:highlight] %>
      <li><span class="highlighted"><%= link_to pc.text, argument_path(pc.argument.id) %></span></li>
    <% else %>
      <li><%= link_to pc.text, premise_path(pc.id) %></li>
    <% end %>
  <% end %>
</ul>
