<% if argument.premises.any? %>
  Their argument:
<% else %>
  No premises given.
<% end %>

<ul class="premises-list">
  <% argument.premises.each do |p| %>
    <li>
      <%= render 'arguments/response_counts', premise: p %>
      <% if p.id == local_assigns[:highlight] %>
        <span class="highlighted"><%= link_to p.text, argument_path(p.argument.id) %></span>
      <% else %>
        <%= link_to p.text, premise_path(p.id) %>
      <% end %>
    </li>
  <% end %>
</ul>
