<% if argument.premises.any? %>
  <%= my(argument) ? 'Your' : 'Their' %> argument:
<% else %>
  No premises given.
<% end %>

<ul class="premises-list">
  <% argument.premises.each do |p| %>
    <li>
      <% if my(argument) %>
        <%= p.text %>
      <% elsif p.id == local_assigns[:highlight] %>
        <span class="highlighted"><%= link_to p.text, argument_path(p.argument.id) %></span>
      <% else %>
        <%= link_to p.text, premise_path(p.id) %>
      <% end %>
    </li>
  <% end %>
</ul>
