<h1>Arguments</h1>

<table>
  <tbody>
    <% @arguments.each do |argument| %>
      <tr>
        <td><%= link_to "#{argument.agree_disagree.capitalize}: #{argument.subject.text}", argument %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
