<table class="statements-index">
  <tbody>
    <% @statements.each do |statement| %>
      <tr>
        <td>
          <p class="statement-heading"><%= link_to statement.text, statement %></p>
          <%= render 'state', subject: statement %>
          <%= render 'date_and_author', subject: statement %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statement', new_statement_path %>
