/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin-left: 120px;
  background: #ddd;
  margin: 40px 40px 40px 120px;
}

a, a:visited, a:active {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background: none;
}

p {
  margin: 16px 0px;
}

p#notice, p#alert {
  height: 20px;
}

.highlighted {
  background: yellow;
}
.highlighted a {
  color: black;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  height: 20px;
  text-align: right;
  background: #ccc;
  display: block;
}

.statements-index {
  border-spacing: 0;
}

.statements-index td {
  padding-top: 0;
  padding-left: 0;
}

.statement-heading {
  font-size: medium;
}

input[type="text"] {
  margin: 6px;
  margin-left: 0px;
  padding: 6px;
  font-size: medium;
}

td, th {
  vertical-align: top;
}

.date {
  color: #888;
}

.premises-form input {
  width: 600px;
}

/* Allow standalone buttons with implied <form> to be inline blocks */
form {
  display: inline-block;
}

.argument-actions button, .argument-actions input[type="submit"] {
  margin-right: 15px;
}

.btn {
  display: inline-block;
  margin: 2px 15px 2px 0px;
}

/* Temporary - replace with bootstrap */
.btn-success, .btn-success:active, .btn-success:visited { color: #070; }
.btn-warning, .btn-warning:active, .btn-warning:visited { color: #990; }
.btn-danger,  .btn-danger:active,  .btn-danger:visited  { color: #900; }

.vote-block {
  display: inline-block;
  width: 50px;
  text-align: center;
}
