/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  margin-left: 120px;
  background: #ddd;
  margin: 40px;
  margin-left: 120px;
}

a, a:visited, a:active {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background: none;
}

p {
  margin: 16px 0px;
}

.notice { color: green; }
.alert { color: red; }

.highlighted {
  background: yellow;
}
.highlighted a {
  color: black;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  height: 18px;
  text-align: right;
  background: #ccc;
  display: block;
}

.statements-index {
  border-spacing: 0;
}

.statements-index td {
  padding-top: 0;
  padding-left: 0;
}

.statement-heading {
  font-size: medium;
  margin-top: 0;
}

.field {
  padding: 10px 0px;
}

label { display: inline; }

input[type="text"], input[type="email"], input[type="password"] {
  margin: 6px;
  margin-left: 0px;
  padding: 6px;
  font-size: medium;
}

td, th {
  vertical-align: top;
}

.date {
  color: #888;
}

.statement-line {
  width: 90%; /* mobile */
  max-width: 800px;
}

.premise-line

.argument-actions button, .argument-actions input[type="submit"] {
  margin-right: 15px;
}

.btn {
  display: inline-block;
  margin: 2px 15px 2px 0px;
}

/* Temporary - replace with bootstrap */
.btn-success, .btn-success:active, .btn-success:visited { color: #070; }
.btn-warning, .btn-warning:active, .btn-warning:visited { color: #990; }
.btn-danger,  .btn-danger:active,  .btn-danger:visited  { color: #900; }

.vote-block {
  display: inline-block;
  width: 50px;
  text-align: center;
}

.arguments-table {
  display: flex;
}

.arguments-table > div {
  width: 50%;
  max-width: 500px;
}

.argument {
  margin-bottom: 20px;
}

.upvote {
  margin: 4px 0;
}


/* Small mobile, typical 320px width */
@media (min-width: 0px) {
  body {
    margin-left: 15px;
    margin-right: 15px;
  }

  .arguments-table > div:first-child {
    padding-right: 10px;
    border-right: 3px solid #bbb;
    margin-right: 10px;
  }

  p.notices { height: 28px; padding: 10px 0; margin: 0; }
}

/* Large mobile, typical 640px width */
@media (min-width: 800px) {
  body {
    margin-left: 80px;
    margin-right: 80px;
  }

  .arguments-table > div:first-child {
    padding-right: 20px;
    border-right: 5px solid #bbb;
    margin-right: 20px;
  }

  p.notices { height: 28px; padding: 20px 0; margin: 0; }
}
