<center>
  <h1>Logical Debate</h1>
  <p>A place for differing viewpoints to come together.</p>
  <br>
  <br>
  <br>
  <a href="users/sign_up" class="link-button">Sign up</a>
  <br>
  <br>
  <a href="users/sign_in">Log in</a>

</center>
