<center>
  <h1>Logical Debate</h1>
  <p>Differing views unite.</p>
  <br>
  <br>
  <br>
  <a href="users/sign_up" class="button large-button">Sign up</a>
  <br>
  <br>
  <a href="users/sign_in">Log in</a>

</center>
