<style type="text/css">
  body {
    margin: 0;
  }

  .landing {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
  }

  .top {
    position: relative;
    width: 300%;
    left: -100%;
    height: 460px;
    display: flex;
  }
  .left-area {
    background: hsl(216, 100%, 96%);
    flex: 1;
  }
  .right-area {
    background: hsl(0, 100%, 96%);
    flex: 1;
  }
  .chevrons {
    border-color: white;
    border-left-color: hsl(216, 100%, 96%);
    border-right-color: hsl(0, 100%, 96%);
    border-width: 230px;
    border-left-width: 170px;
    border-right-width: 170px;
    border-style: solid;
    margin: auto;
    height: 0px;
    min-width: 160px;
    flex: 0.5;
  }
  .title {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    font-size: large;
  }

  .title p {
    font-size: large;
  }

  .title .button, .title .button:hover {
    background: hsl(236, 32%, 40%);
    color: white;
    font-size: large;
  }

  .title a {
    color: hsl(236, 22%, 40%);
  }

  .section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0px 70px 0px;
  }

  .section > * {
    flex: 1;
    min-width: 200px;
    padding: 15px;
    font-size: large;
  }

  .section > .section-header {
    flex: 1;
    flex-basis: 100%;
    font-size: x-large;
  }

  .overview {
    background: hsl(236, 32%, 40%);
    color: white;
  }

  .bottom {
    background: hsl(236, 63%, 96%);
    width: 100%;
    height: 100px;
  }

  .bottom a {
    color: black;
    text-decoration: underline;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }
  li {
    margin: 8px;
  }

  @media (max-width: 1023px) {
    /* Switch to 2x2 layout */
    .section > * {
      flex-basis: 33%;
    }
  }
</style>

<div class="landing">
  <div class="top">
    <div class="left-area"></div>
    <div class="chevrons"></div>
    <div class="right-area"></div>

    <div class="title">
      <p>Do you agree to&hellip;</p>
      <ul>
        <li>Listen to opposing points of view?</li>
        <li>Maintain civil discussion?</li>
        <li>Speak only the truth?</li>
        <li>Be open minded?</li>
      </ul>
      <br>
      <br>
      <%= button_to I18n.t('agreement.button'), [:accept_agreement], class: 'button large-button' %>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>

  <div class="overview section">
    <div class="section-header">How we operate</div>
    <div>
      <div class="icon"><img src="/images/statement.svg"></div>
      State your belief
    </div>
    <div>
      <div class="icon"><img src="/images/argument.svg"></div>
      Hear opposing points of view
    </div>
    <div>
      <div class="icon"><img src="/images/circle.svg"></div>
      Take time to debate logically
    </div>
    <div>
      <div class="icon"><img src="/images/pyramid.svg"></div>
      Find truth together
    </div>
  </div>

  <div class="bottom section">
    <div>
      Contribute to the project on <a href="https://github.com/allantokuda/logical-debate">Github</a>!
    </div>
  </div>

</div>
