<style type="text/css">
  body {
    margin: 0;
  }

  .landing {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
  }

  .top {
    position: relative;
    width: 300%;
    left: -100%;
    height: 460px;
    display: flex;
  }
  .left-area {
    background: #eef0ff;
    flex: 1;
  }
  .right-area {
    background: #ffeeee;
    flex: 1;
  }
  .chevrons {
    border-color: white;
    border-left-color: #eef0ff;
    border-right-color: #ffeeee;
    border-width: 230px;
    border-left-width: 170px;
    border-right-width: 170px;
    border-style: solid;
    margin: auto;
    height: 0px;
    min-width: 160px;
    flex: 0.5;
  }
  .title {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
  }

  .section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0px 70px 0px;
  }

  .section > * {
    flex: 1;
    min-width: 200px;
    padding: 15px;
    font-size: large;
  }

  .overview {
    background: #465688;
    color: white;
  }

  .bottom {
    background: #8991a9;
    width: 100%;
    height: 100px;
  }

  .bottom a {
    color: black;
    text-decoration: underline;
  }


  @media (max-width: 1023px) {
    /* Switch to 2x2 layout */
    .overview-point {
      flex-basis: 33%;
    }
  }
</style>

<div class="landing">
  <div class="top">
    <div class="left-area"></div>
    <div class="chevrons"></div>
    <div class="right-area"></div>

    <div class="title">
      <h1>Logical Debate</h1>
      <p>Differing views unite.</p>
      <br>
      <br>
      <br>
      <a href="users/sign_up" class="button large-button">Sign up</a>
      <br>
      <br>
      <a href="users/sign_in">Log in</a>
    </div>
  </div>

  <div class="overview section">
    <div class="overview-point">
      <div class="icon"><img src="/images/statement.svg"></div>
      State your belief
    </div>
    <div class="overview-point">
      <div class="icon"><img src="/images/argument.svg"></div>
      Hear opposing points of view
    </div>
    <div class="overview-point">
      <div class="icon"><img src="/images/circle.svg"></div>
      Take time to debate logically
    </div>
    <div class="overview-point">
      <div class="icon"><img src="/images/pyramid.svg"></div>
      Find truth together
    </div>
  </div>

  <div class="bottom section">
    <div>
      Contribute to the project on <a href="https://github.com/allantokuda/logical-debate">Github</a>!
    </div>
  </div>

</div>
